SOCIAL_AUTH_PEERINGDB_KEY="{{ peeringdb_oauth_key }}"
SOCIAL_AUTH_PEERINGDB_SECRET="{{ peeringdb_oauth_secret }}"

NETBOX_API_ENDPOINT={{ libreixp_netbox_endpoint }}
NETBOX_API_TOKEN={{ libreixp_netbox_token }}

IXP_SHORT_NAME = "SFMIX"
IXP_LONG_NAME = "San Francisco Metro Internet Exchange"

IXP_LOOKING_GLASS_URL = "https://lg.sfmix.org/cgi-bin/bgplg?cmd=show+ip+bgp+summary&req="
IXP_COUNTRY = "US"
IXP_URL = "https://sfmix.org/"

IXP_EMAIL =  "tech-c@sfmix.org"
IXP_TELEPHONE = "+1 415 634-6712"

IXP_ID = 155
IXP_PEERINGDB_ID = 155
IXP_IXF_ID = 223
