[Unit]
Description=LibreIXP Portal
Requires=libreixp_portal.socket
After=network.target

[Service]
User=sfmix
Group=sfmix
WorkingDirectory=/opt/sfmix/libreixp/ixp_web
ExecStart=/opt/sfmix/libreixp/ixp_web/.venv/bin/gunicorn \
          --access-logfile - \
          --timeout 120 \
          --workers 3 \
          --bind unix:/run/libreixp_portal.sock \
          ixp_web.wsgi:application

[Install]
WantedBy=multi-user.target
