---
- name: Install BIRD
  become: true
  ansible.builtin.apt:
    name: bird2
    state: present
    update_cache: true

- name: Place BIRD configuration
  become: true
  ansible.builtin.template:
    src: bird.conf.j2
    dest: /etc/bird/bird.conf
    owner: bird
    group: bird
    mode: "0640"
    validate: "bird -p -c %s"
  notify: Restart BIRD

- name: Enable and start BIRD
  become: true
  ansible.builtin.systemd_service:
    name: bird
    enabled: true
    state: started
