DJANGO_SECRET_KEY={{ ixp_portal_django_secret_key }}
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS={{ ixp_portal_domain }}
OIDC_RP_CLIENT_ID={{ ixp_portal_oidc_client_id }}
OIDC_RP_CLIENT_SECRET={{ ixp_portal_oidc_client_secret }}
OIDC_PROVIDER_URL={{ ixp_portal_oidc_provider_url }}
IXP_PARTICIPANTS_URL={{ ixp_portal_participants_url }}
IXP_NETBOX_URL={{ ixp_portal_netbox_url }}
IXP_NETBOX_TOKEN={{ ixp_portal_netbox_token | default('') }}
