router ospf 1
   passive-interface default
{% for interface in interfaces %}
{%   if "core_port" in interface.tags %}
   no passive-interface {{ interface.name }}
{%   endif %}
{% endfor %}
   no passive-interface Loopback0
{# TODO: This should probably come from some kind of prefix lookup #}
   network 100.64.0.0/10 area 0.0.0.0
   max-lsa 12000
   log-adjacency-changes detail
   default-information originate
