protocol bgp SFlowRT {
    description "BGP to Flow Collector";
    local as {{ arouteserver_rs_asn }};
    neighbor {{ sfmix_sflow_collector_bgp_address }} as {{ sfmix_sflow_collector_bgp_asn }};
    rs client;
    passive off;
    ttl security off;
    ipv4 {
        secondary on;
        add paths tx;
        import none;
        export all;
    };
    ipv6 {
        secondary on;
        add paths tx;
        import none;
        export all;
    };
}
