global:
    scrape_interval: 15s
    scrape_timeout: 10s
    evaluation_interval: 15s
scrape_configs:
    - job_name: sflow-rt-ifcounters
      metrics_path: /prometheus/metrics/ALL/ifinoctets,ifoutoctets,ifinutilization,ifoututilization,ifinerrors,ifouterrors,ifindiscards,ifoutdiscards/txt
      scheme: http
      scrape_interval: 5s
      scrape_timeout: 4s
      static_configs:
      - targets:
          - metrics.sfo02.sfmix.org:8008
      metric_relabel_configs:
          - source_labels: ['agent', 'datasource']
            separator: ':'
            target_label: instance
    - job_name: sflow-rt-ixp-metrics
      metrics_path: /app/ixp-metrics/scripts/metrics.js/prometheus/txt
      scheme: http
      scrape_interval: 5s
      scrape_timeout: 4s
      static_configs:
      - targets:
          - metrics.sfo02.sfmix.org:8008
    - job_name: sflow-rt-pre-amp
      metrics_path: /app/prometheus/scripts/export.js/flows/ALL/txt
      scheme: http
      scrape_interval: 10s
      scrape_timeout: 4s
      static_configs:
        - targets:
          - metrics.sfo02.sfmix.org:8008
      params:
        metric: ["pre_amp_suspect_frames"]
        key: ["udpsourceport", "udpdestinationport"]
        label: ["udp_source_port", "udp_destination_port"]
        value: ["frames"]
        aggMode: ["edge"]
        filter: ["udpsourceport=80,443&udpdestinationport=17,19,53,111,123,161,389,520,1900,11211"]
        # This should at least be sized at the product of the source and destination ports
        maxFlows: ["100"]
    - job_name: sflow-rt-drops
      metrics_path: /app/prometheus/scripts/export.js/flows/ALL/txt
      scheme: http
      scrape_interval: 10s
      scrape_timeout: 4s
      static_configs:
        - targets:
          - metrics.sfo02.sfmix.org:8008
      params:
        metric: ["dropped_packets"]
        key: ["node:inputifindex","ifname:inputifindex","reason","stack","macsource","macdestination","null:vlan:untagged","null:[or:ipsource:ip6source]:none","null:[or:ipdestination:ip6destination]:none","null:[or:icmptype:icmp6type:ipprotocol:ip6nexthdr]:none"]
        label: ["switch","port","reason","stack","macsource","macdestination","vlan","src","dst","protocol"]
        value: ["frames"]
        dropped: ["true"]
        maxFlows: ["20"]
        minValue: ["0.001"]
    - job_name: netbox
      scheme: https
      scrape_interval: 10s
      scrape_timeout: 5s
      static_configs:
      - targets:
        - netbox.sfmix.org
    - job_name: mqtt2prometheus-air-sensor
      scheme: http
      scrape_interval: 5s
      scrape_timeout: 4s
      static_configs:
      - targets:
        - metrics.sfo02.sfmix.org:9641
