authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain {{ sfmix_looking_glass_web_hostname }} {
	domain key "/etc/ssl/private/{{ sfmix_looking_glass_web_hostname }}.key"
	domain full chain certificate "/etc/ssl/{{ sfmix_looking_glass_web_hostname }}.fullchain.pem"
	sign with letsencrypt
}
