
AS {{ sfmix_looking_glass_asn | mandatory }}
fib-update no
listen on {{ sfmix_looking_glass_v4_bind_address | mandatory }}
listen on {{ sfmix_looking_glass_v6_bind_address | mandatory }}
router-id {{ sfmix_looking_glass_router_id | mandatory }}

socket "/var/www/run/bgpd.rsock" restricted

{% for participant_id, participant in netbox_participants.items() %}
# {{ participant.custom_fields.as_number }}: {{ participant.description }}
group "{{ participant.description | truncate(31, leeway=0) }}" {
	remote-as {{ participant.custom_fields.as_number }}
	export none
	set metric 0

{%   for ip_id, ip_address in netbox_participant_ip_addresses.items() %}
{# Skip the Looking Glass IPs and Route Servers #}
{%     if (
			ip_address.tenant.id == participant.id)
			and not (
				ip_address.address | ansible.utils.ipaddr('address') == "206.197.187.1"
				or ip_address.address | ansible.utils.ipaddr('address') == "2001:504:30::ba01:2276:1")
			and not participant.custom_fields.as_number == 63055
		%}
	neighbor {{ ip_address.address | ansible.utils.ipaddr('address') }} {
{%       if ip_address.family.value == 4 %}
		descr "{{ participant.description | truncate(18, leeway=0) ~ " (v4)" }}"
{%       elif ip_address.family.value == 6 %}
		descr "{{ participant.description | truncate(18, leeway=0) ~ " (v6)" }}"
{%       endif %}
	}
{%     endif %}
{%   endfor %}
}
{% endfor %}

# See all prefixes, since we want to visibility for a looking glass
allow from any

# Honor requests to gracefully shutdown BGP sessions
# https://tools.ietf.org/html/rfc8326
match from any community GRACEFUL_SHUTDOWN set { localpref 0 }
