global:
    scrape_interval: 15s
    scrape_timeout: 10s
    evaluation_interval: 15s
alerting:
    alertmanagers:
        - static_configs:
            - targets: []
            scheme: http
            timeout: 10s
            api_version: v1
scrape_configs:
    - job_name: sflow-rt-ifcounters
      metrics_path: /prometheus/metrics/ALL/ifinoctets,ifoutoctets,ifinutilization,ifoututilization,ifinerrors,ifouterrors,ifindiscards,ifoutdiscards/txt
      scheme: http
      scrape_interval: 5s
      scrape_timeout: 4s
      static_configs:
      - targets:
          - metrics.sfo02.sfmix.org:8008
      metric_relabel_configs:
          - source_labels: ['agent', 'datasource']
            separator: ':'
            target_label: instance
    - job_name: sflow-rt-ixp-metrics
      metrics_path: /app/ixp-metrics/scripts/metrics.js/prometheus/txt
      scheme: http
      scrape_interval: 5s
      scrape_timeout: 4s
      static_configs:
      - targets:
          - metrics.sfo02.sfmix.org:8008
