types {
        application/json        json
        image/png               png
}
server "secure-redirect" {
        listen on egress port 80
        location "/api/*" {
                fastcgi socket "/run/bgplgd.sock"
                request strip 1
        }
}
