types {
        application/json        json
        image/png               png
        text/html               html
}
server "{{ sfmix_looking_glass_web_hostname }}-http" {
        listen on egress port 80
{% if sfmix_looking_glass_web_tls %}
        location "/.well-known/acme-challenge/*" {
                root "/acme"
                request strip 2
        }
        location "/*" {
            block return 301 "https://$HTTP_HOST$REQUEST_URI"
        }
{% else %}
{%   if sfmix_looking_glass_web_bgplg %}
        location "/cgi-bin/*" {
                fastcgi
                root "/"
        }
        location "/" {
                block return 301 "http://$HTTP_HOST/cgi-bin/bgplg?cmd=show+ip+bgp+summary&req="
        }
{%   endif %}
{%   if sfmix_looking_glass_web_bgplgd %}
        location "/api/*" {
                fastcgi socket "/run/bgplgd.sock"
                request strip 1
        }
{%   endif %}
{% endif %}
}

{% if sfmix_looking_glass_web_tls %}
server "{{ sfmix_looking_glass_web_hostname }}-https" {
        listen on * tls port 443
        tls {
                certificate "/etc/ssl/{{ sfmix_looking_glass_web_hostname }}.fullchain.pem"
                key "/etc/ssl/private/{{ sfmix_looking_glass_web_hostname }}.key"
        }
        location "/.well-known/acme-challenge/*" {
                root "/acme"
                request strip 2
        }
{%   if sfmix_looking_glass_web_bgplg %}
        location "/cgi-bin/*" {
                fastcgi
                root "/"
        }
{%   endif %}
{%   if sfmix_looking_glass_web_bgplgd %}
        location "/api/*" {
                fastcgi socket "/run/bgplgd.sock"
                request strip 1
        }
{%   endif %}
        location "/" {
                block return 301 "https://$HTTP_HOST/cgi-bin/bgplg?cmd=show+ip+bgp+summary&req="
        }
}
{% endif %}
