; vim: set tabstop=8 shiftwidth=8
$TTL 3600
@	IN	SOA ns1.sfmix.org. tech-c.sfmix.org. (
	{{'%Y%m%d01'|strftime}}	;serial-number
	8H			;time-to-refresh
	1H			;time-to-retry
	7D			;time-to-expire
	1H			;minumum-TTL
	)

@	IN	NS	ns1.sfmix.org.
@	IN	NS	ns3.he.net.
@	IN	NS	ns5.he.net.
@	IN	NS	ns1.lonap.net.
@	IN	NS	ns3.lonap.net.
@	IN	NS	ns4.lonap.net.uk.
@	IN	NS	ns5.lonap.net.uk.

1		PTR	lg.sfmix.org.
253		PTR	rs.sfo02.sfmix.org.
254		PTR	rs.sfo01.sfmix.org.

{% for ip_id, ip_address in netbox_participant_ip_addresses.items() %}
{%   set as_plus_number = 'as' + netbox_participants[ip_address.tenant.id].custom_fields.as_number | string %}
{%   set as_name = netbox_participants[ip_address.tenant.id].description %}
{%   if ip_address.family.value == 4 %}
{{ ip_address.address | ansible.utils.ipaddr('revdns') }}	IN	PTR	{{ as_plus_number }}.sfmix.org. ; {{ as_name }}
{%   endif %}
{% endfor %}
