SOCIAL_AUTH_PEERINGDB_KEY="{{ peeringdb_oauth_key }}"
SOCIAL_AUTH_PEERINGDB_SECRET="{{ peeringdb_oauth_secret }}"

NETBOX_API_ENDPOINT={{ libreixp_netbox_endpoint }}
NETBOX_API_TOKEN={{ libreixp_netbox_token }}

IXP_SHORT_NAME = "SFMIX"
IXP_LONG_NAME = "San Francisco Metro Internet Exchange"
