---
- name: Restart snmpd
  become: true
  ansible.builtin.service:
    name: snmpd
    state: restarted

- name: Restart sshd
  when: ansible_facts['os_family'] != 'Debian' or ansible_facts['distribution_major_version'] | default('') != '24'
  become: true
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Restart ssh (Ubuntu 24+)
  when: ansible_facts['os_family'] == 'Debian' and ansible_facts['distribution_major_version'] | default('') == '24'
  become: true
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Restart docker
  become: true
  ansible.builtin.service:
    name: docker
    state: restarted
