# Managed by Ansible (snmp_exporter role). NMS dashboard generator inputs.
NETBOX_API_ENDPOINT={{ ixp_netbox_api_endpoint }}
NETBOX_API_TOKEN={{ snmp_exporter_netbox_api_token }}
PROMETHEUS_URL=http://localhost:9090
GRAFANA_URL=http://localhost:3000
GRAFANA_TOKEN_FILE=/home/sfmix/.grafana_weathermap_token
