bind_address="0.0.0.0"
listen_port={{ snappy_speedtest_listen_port }}

worker_threads="auto"

base_url="backend"

ipinfo_api_key=""

assets_path="./assets"

stats_password=""

redact_ip_addresses=false

result_image_theme="light"

database_type="sqlite"
database_hostname="localhost"
database_name="speedtest_db"
database_username=""
database_password=""
database_file="speedtest.db"

enable_tls=false
tls_cert_file=""
tls_key_file=""
