---
- name: Install common packages (Linux)
  when: ansible_facts["system"] == "Linux"
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
  with_items:
    - zsh
    - kitty-terminfo
    - cron
    - acl
    - htop

- name: Install qemu-guest-agent on Linux VMs
  when: ansible_facts["system"] == "Linux" and ansible_facts["virtualization_role"] == "guest"
  become: true
  ansible.builtin.apt:
    name: qemu-guest-agent

- name: Install qemu-ga on OpenBSD VMs
  when: ansible_facts["system"] == "OpenBSD" and ansible_facts["system_vendor"] == "KVM"
  become: true
  community.general.openbsd_pkg:
    name: qemu-ga
    state: present
