---
- name: "SFMIX Admin users: ensure user (Linux)"
  when: ansible_facts["system"] == "Linux"
  become: true
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups:
      - sudo
      - sfmix
    append: true
    state: present
    shell: /bin/bash
  with_items:
    - "{{ sfmix_admin_users }}"
    - "{{ sfmix_host_local_users }}"

- name: "SFMIX Admin users: ensure user (OpenBSD)"
  when: ansible_facts["system"] == "OpenBSD"
  become: true
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups:
      - wheel
    append: true
    state: present
  with_items:
    - "{{ sfmix_admin_users }}"
    - "{{ sfmix_host_local_users }}"

- name: "SFMIX Admin users: authorized_keys from github"
  become: true
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    state: present
    key: "https://github.com/{{ item.github_username }}.keys"
  when: item.github_username is defined and not ansible_check_mode
  with_items:
    - "{{ sfmix_admin_users }}"
    - "{{ sfmix_host_local_users }}"

- name: "SFMIX Admin users: authorized_keys from keys_file"
  become: true
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    state: present
    key: "{{ lookup('file', item.keys_file) }}"
  when: item.keys_file is defined
  with_items:
    - "{{ sfmix_admin_users }}"
    - "{{ sfmix_host_local_users }}"

- name: "No password for sudo group (Linux)"
  when: ansible_facts["system"] == "Linux"
  become: true
  community.general.sudoers:
    name: sudoers
    group: sudo
    commands: ALL
    nopassword: true

- name: Ensure /etc/sudoers.d directory (OpenBSD)
  when: ansible_facts["system"] == "OpenBSD"
  become: true
  ansible.builtin.file:
    path: /etc/sudoers.d
    state: directory
    owner: root
    group: wheel
    mode: ug=rwx,o=

- name: Add /etc/sudoers.d to /etc/sudoers (OpenBSD)
  when: ansible_facts["system"] == "OpenBSD"
  become: true
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    state: present
    line: "@includedir /etc/sudoers.d"

- name: "No password for wheel group (OpenBSD)"
  when: ansible_facts["system"] == "OpenBSD"
  become: true
  community.general.sudoers:
    name: sudoers
    group: wheel
    commands: ALL
    nopassword: true
