{{ ansible_managed | comment }}

service:
  name: "SFMIX Looking Glass"
  operator: "SFMIX"
  operator_url: "https://sfmix.org"
  peeringdb_ix_id: 60

site:
  name: "central"
  display_name: "SFMIX Central Looking Glass"

rpc:
  bind: "{{ looking_glass_rpc_bind }}"
  secret_env: "LG_RPC_SECRET"

{% if looking_glass_oidc_enabled %}
auth:
  oidc:
    issuer: "{{ looking_glass_oidc_issuer }}"
    client_id: "{{ looking_glass_oidc_client_id }}"
    device_auth_endpoint: "{{ looking_glass_oidc_device_auth_endpoint }}"
    token_endpoint: "{{ looking_glass_oidc_token_endpoint }}"
    jwks_uri: "{{ looking_glass_oidc_jwks_uri }}"
    group_prefix: "{{ looking_glass_oidc_group_prefix }}"
    admin_group: "{{ looking_glass_oidc_admin_group }}"
    cert_lifetime_secs: {{ looking_glass_oidc_cert_lifetime_secs }}
{% if looking_glass_oidc_allowed_audiences is defined %}
    allowed_audiences:
{% for aud in looking_glass_oidc_allowed_audiences %}
      - "{{ aud }}"
{% endfor %}
{% endif %}
{% if looking_glass_oidc_allowed_issuers is defined %}
    allowed_issuers:
{% for iss in looking_glass_oidc_allowed_issuers %}
      - "{{ iss }}"
{% endfor %}
{% endif %}
{% endif %}

devices:
{% for device in looking_glass_devices %}
  - name: "{{ device.name }}"
    platform: {{ device.platform }}
    host: "{{ device.host | default(device.name) }}"
    port: {{ device.port | default(22) }}
    username: "{{ looking_glass_device_username }}"
    auth_method: {{ looking_glass_device_auth_method }}
{% if device.command_timeout_secs is defined %}
    command_timeout_secs: {{ device.command_timeout_secs }}
{% endif %}
{% endfor %}

participants:
  source: netbox
  url: "{{ looking_glass_netbox_url }}"
  token_env: "LG_NETBOX_TOKEN"
  refresh_interval_secs: {{ looking_glass_participants_refresh_interval | default(300) }}
{% if looking_glass_netbox_domain_suffix is defined %}
  domain_suffix: "{{ looking_glass_netbox_domain_suffix }}"
{% endif %}

vlans:
  public:
{% for vlan in looking_glass_public_vlans | default(["998", "999"]) %}
    - "{{ vlan }}"
{% endfor %}

rate_limits:
  global:
    max_concurrent: 10
    commands_per_minute: 60
  per_device:
    max_concurrent: 2
    commands_per_minute: 20
  per_user:
    commands_per_minute: 10
