{{ ansible_managed | comment }}
LG_DEVICE_PASSWORD={{ looking_glass_device_password }}
{% if looking_glass_netbox_token is defined %}
LG_NETBOX_TOKEN={{ looking_glass_netbox_token }}
{% endif %}
{% if looking_glass_rpc_secret is defined %}
LG_RPC_SECRET={{ looking_glass_rpc_secret }}
{% endif %}
RUST_LOG=info
