// vim: set tabstop=8 shiftwidth=8
// Management
{% macro transfer_notify() %}
allow-transfer {
		127.0.0.0/8;
		sfmix;
		secondaries;
	};

	also-notify {
		{% for secondary in sfmix_secondaries_to_notify -%}
		{{ secondary }};
		{% endfor -%}
	};
{% endmacro %}

{% for forward_zone in sfmix_forward_zones %}
zone "{{ forward_zone }}" {
	type master;
	file "/etc/bind/zones/{{ forward_zone }}";
	{{ transfer_notify() }}
};
{% endfor %}

{% for reverse_zone in sfmix_reverse_zones %}
zone "{{ reverse_zone }}" {
	type master;
	file "/etc/bind/zones/{{ reverse_zone }}";
	{{ transfer_notify() }}
};
{% endfor %}

// teleport.sfmix.org -- Dynamic DNS used for certbot
key "teleport-certbot" {
	algorithm hmac-sha512;
	secret "{{ bind_teleport_certbot_tsig_key }}";
};
zone "teleport.sfmix.org" {
	type master;
	file "/var/lib/bind/teleport.sfmix.org";
	update-policy {
		grant teleport-certbot name _acme-challenge.teleport.sfmix.org. txt;
	};
};

