#jinja2: lstrip_blocks: True
---
participants:
{% for participant_id, participant in netbox_participants.items() %}
  - as_number: {{ participant.custom_fields.as_number }}
    member_type: {{ participant.custom_fields.participant_type }}
    name: {{ participant.description }}
    peering_ports:
      {# SFMIX/12276 is a special case, as it current shares a fabric port with the route servers (AS 63055) #}
      {# This could be removed once the looking glass is on its own port and the edge router is on its own port #}
      {% if participant.custom_fields.as_number == 12276 %}
      - speed: 1 Gbit/s
        speed_bps: 1000000000
        location: Digital Realty SFO10
        ipv4: 206.197.187.1
        ipv4_integer: {{ "206.197.187.1" | ansible.utils.ipaddr('int') }}
        ipv6: 2001:504:30::ba01:2276:1
        ipv6_integer: {{ ('2001:504:30::ba01:2276:1/64' | ansible.utils.ipaddr('address') | ansible.utils.ipaddr('int')) - ("2001:504:30::ba01:2276:1/64" | ansible.utils.ipaddr('network') | ansible.utils.ipaddr('int')) }}
      - speed: 1 Gbit/s
        speed_bps: 1000000000
        location: Digital Realty SFO10
        ipv4: 206.197.187.2
        ipv4_integer: {{ "206.197.187.2" | ansible.utils.ipaddr('int') }}
        ipv6: 2001:504:30::ba01:2276:2
        ipv6_integer: {{ ('2001:504:30::ba01:2276:2/64' | ansible.utils.ipaddr('address') | ansible.utils.ipaddr('int')) - ("2001:504:30::ba01:2276:2/64" | ansible.utils.ipaddr('network') | ansible.utils.ipaddr('int')) }}
      {% else %}
        {% for peering_port_id, peering_port in netbox_peering_port_interfaces.items() %}
        {%   if peering_port.custom_fields.participant and peering_port.custom_fields.participant.id == participant_id %}
        {%     if peering_port.custom_fields.rate_limit_bps %}
      - speed: {{ (peering_port.custom_fields.rate_limit_bps / 1000000000) | int }} Gbit/s
        speed_bps: {{ peering_port.custom_fields.rate_limit_bps | int }}
        {%     else %}
      - speed: {{ (peering_port.speed / 1000000) | int }} Gbit/s
        speed_bps: {{ (peering_port.speed * 1000) | int }}
        {%     endif %}
        location: {{ netbox_sites[netbox_devices[peering_port.device.id].site.id].facility }}
          {% set ip_map = namespace(ipv4=null, ipv6 = null) %}
          {% for ip_address in netbox_participant_ip_addresses.values() %}
          {%   if ip_address.custom_fields.participant_lag and ip_address.custom_fields.participant_lag.id == peering_port_id %}
          {%     if ip_address.family.value == 4 %}
          {%       set ip_map.ipv4 = ip_address.address | ansible.utils.ipaddr('address') %}
          {%     elif ip_address.family.value == 6 %}
          {%       set ip_map.ipv6 = ip_address.address | ansible.utils.ipaddr('address') %}
          {%     endif %}
          {%   endif %}
          {% endfor %}
        ipv4: {{ ip_map.ipv4 | default("Pending") }}
        ipv4_integer: {{ ip_map.ipv4 | default("0.0.0.0") | ansible.utils.ipaddr('int') }}
        ipv6: {{ ip_map.ipv6 | default("Pending") }}
        ipv6_integer: {{ ((ip_map.ipv6 | default("::")) | ansible.utils.ipaddr('int') ) - (((ip_map.ipv6 | default("::")) ~ "/64") | ansible.utils.ipaddr('network') | ansible.utils.ipaddr('address') | ansible.utils.ipaddr('int')) }}
        {%   endif %}
        {% endfor %}
      {% endif %}
{% endfor %}
