var birdReflectorIP = '100.64.0.18';
var bgpdReflectorIP = '100.64.1.14'
var myAS         = '{{ sfmix_sflow_collector_bgp_asn }}';
var myID         = '{{ sfmix_sflow_collector_bgp_address }}';

// allow BGP connection from reflectorIP
bgpAddNeighbor(birdReflectorIP,myAS,myID,{"ipv6": true});

// direct sFlow from sFlowAgentIP to reflectorIP routing table
// calculate a 60 second moving average byte rate for each route
{% for management_ip in groups['peering_switch'] |
        map('extract', hostvars, 'interfaces') |
        map('selectattr', 'name', 'equalto', 'Management1') |
        sum(start=[]) |
        map(attribute='ip_addresses') |
        sum(start=[]) |
        map(attribute='address') |
        ansible.utils.ipaddr('address') %}
bgpAddSource("{{ management_ip }}",birdReflectorIP,60,'bytes');
{% endfor %}
