[Unit]
Description=Alice Looking Glass
After=network.target

[Service]
User=nobody
Group=nogroup
WorkingDirectory=/opt/alice
ExecStart=/opt/alice/alice -config /opt/alice/alice.conf

[Install]
WantedBy=multi-user.target

