---
- name: Ensure birdwatcher directory
  become: true
  ansible.builtin.file:
    path: "{{ sfmix_route_server_linux_birdwatcher_directory }}"
    state: directory
    mode: ug=rwx,o=rx

- name: Clone birdwatcher repo
  become: true
  ansible.builtin.git:
    repo: "{{ sfmix_route_server_linux_birdwatcher_repo }}"
    dest: "{{ sfmix_route_server_linux_birdwatcher_directory }}/repo"
    version: "{{ sfmix_route_server_linux_birdwatcher_version }}"
    force: true
  notify: Rebuild birdwatcher docker container

- name: Check if birdwatcher image exists
  become: true
  community.docker.docker_image_info:
    name: "birdwatcher:{{ sfmix_route_server_linux_birdwatcher_version | replace('/', '_') }}"
  register: birdwatcher_image_info

- name: Trigger birdwatcher build if image missing
  ansible.builtin.command: /bin/true
  changed_when: true
  when: birdwatcher_image_info.images | length == 0
  notify: Rebuild birdwatcher docker container

- name: Trigger birdwatcher rebuilt and old container destruction
  ansible.builtin.meta: flush_handlers

- name: Place birdwatcher.conf
  become: true
  ansible.builtin.template:
    src: birdwatcher.conf.j2
    dest: "{{ sfmix_route_server_linux_birdwatcher_directory }}/birdwatcher.conf"
    mode: ug=rw,o=r
  notify: Restart birdwatcher

- name: Run birdwatcher
  become: true
  community.docker.docker_container:
    name: birdwatcher
    image: "birdwatcher:{{ sfmix_route_server_linux_birdwatcher_version | replace('/', '_') }}"
    restart_policy: unless-stopped
    state: started
    network_mode: host
    log_driver: local
    command: /usr/bin/birdwatcher -config /etc/birdwatcher/birdwatcher.conf
    volumes:
      - /run/bird/bird.ctl:/run/bird/bird.ctl
      - /etc/bird/bird.conf:/etc/bird.conf:ro
      - "{{ sfmix_route_server_linux_birdwatcher_directory }}/birdwatcher.conf:/etc/birdwatcher/birdwatcher.conf:ro"

- name: Cron to restart birdwatcher every 4 hours
  become: true
  ansible.builtin.cron:
    name: "restart birdwatcher"
    minute: "0"
    hour: "*/4"
    job: "docker restart birdwatcher"
