#jinja2: lstrip_blocks: True
---
version: "1.0"
timestamp: "{{ '%Y-%m-%dT%H:%M:%S%z' | strftime }}"
ixp_list:
    - shortname: SFMIX
      name: San Francisco Metropolitan Internet Exchange
      ixp_id: 155
      ixf_id: 223
      peeringdb_id: 155
      country: US
      url: https://sfmix.org/
      support_email: tech-c@sfmix.org
      support_phone: "+1 415 634-6712"
      switch:
      {% for device in netbox_devices.values() %}
      {%   if device.device_role.slug == "peering_switch" %}
      {%     set site = netbox_sites[device.site.id] %}
        - id: {{ device.id }}
          name: "{{ device.name }}"
          colo: "{{ site.facility }}"
          pdb_facility_id: {{ site.custom_fields.peeringdb_facility }}
          city: "{{ site.region.name }}"
          country: US
          manufacturer: "{{ device.device_type.manufacturer.name }}"
          model: "{{ device.device_type.model }}"
      {%   endif %}
      {% endfor %}
      vlan:
      {% for vlan in exchange_fabric_vlans.values() %}
      {%   for tag in vlan.tags %}
      {%     if tag.slug == "peering_lan" %}
        - id: {{ vlan.id }}
          name: "{{ vlan.name }}"
          {% for prefix in netbox_prefixes.values() %}
          {%   if prefix.vlan and prefix.vlan.id == vlan.id %}
          {%     if prefix.family.value == 4 %}
          ipv4:
            prefix: "{{ prefix.prefix | ansible.utils.ipaddr('network') }}"
            mask_length: {{ prefix.prefix | ansible.utils.ipaddr('prefix') }}
          {%     elif prefix.family.value == 6 %}
          ipv6:
            prefix: "{{ prefix.prefix | ansible.utils.ipaddr('network') }}"
            mask_length: {{ prefix.prefix | ansible.utils.ipaddr('prefix') }}
          {%     endif %}
          {%   endif %}
          {% endfor %}
      {%     endif %}
      {%   endfor %}
      {% endfor %}
member_list:
{% for participant_id, participant in netbox_participants.items() %}
{% if participant.custom_fields.participant_type == "Infrastructure" %}
{%   set participant_type = "ixp" %}
{% else %}
{%   set participant_type = "peering" %}
{% endif %}
  - asnum: {{ participant.custom_fields.as_number }}
    member_type: {{ participant_type }}
    name: {{ participant.description }}
    connection_list:
      {% for peering_port_id, peering_port in netbox_peering_port_interfaces.items() %}
      {%   if peering_port.custom_fields.participant.id == participant_id %}
      - ixp_id: 155
        state: active
        if_list:
          - switch_id: {{ peering_port.device.id }}
            {% if peering_port.speed %}
            if_speed: {{ (peering_port.speed / 1000) | int }}
            {% endif %}
        {% set vlan_map = namespace(vlan_ids={}, ipv4={}, ipv6 = {}) %}
        {% for ip_address in netbox_participant_ip_addresses.values() %}
        {%   if ip_address.custom_fields.participant_lag and ip_address.custom_fields.participant_lag.id == peering_port_id %}
        {%     for vlan in exchange_fabric_vlans.values() %}
        {%       for tag in vlan.tags %}
        {%         if tag.slug == "peering_lan" %}
        {%           for prefix in netbox_prefixes.values() %}
        {%             if prefix.vlan and prefix.vlan.id == vlan.id %}
        {%               if (ip_address.address | ansible.utils.ipaddr('address')) | ansible.utils.ipaddr(prefix.prefix) %}
        {%                 set vlan_map.vlan_ids = vlan_map.vlan_ids | combine({vlan.id: True}) %}
        {%                 if ip_address.family.value == 4 %}
        {%                   set vlan_map.ipv4 = vlan_map.ipv4 | combine({vlan.id: ip_address}) %}
        {%                 elif ip_address.family.value == 6 %}
        {%                   set vlan_map.ipv6 = vlan_map.ipv6 | combine({vlan.id: ip_address}) %}
        {%                 endif %}
        {%               endif %}
        {%             endif %}
        {%           endfor %}
        {%         endif %}
        {%       endfor %}
        {%     endfor %}
        {%   endif %}
        {% endfor %}
        {% if vlan_map.vlan_ids %}
        vlan_list:
        {% endif %}
        {% for vlan_id in vlan_map.vlan_ids %}
        - vlan_id: {{ vlan_id }}
          {% if vlan_id in vlan_map.ipv4 %}
          {%   set ip_address = vlan_map.ipv4[vlan_id] %}
          ipv4:
            address: {{ ip_address.address | ansible.utils.ipaddr('address') }}
            {% if ip_address.custom_fields.participant_mac_address %}
            mac_address: "{{ ip_address.custom_fields.participant_mac_address }}"
            {% endif %}
          {% endif %}
          {% if vlan_id in vlan_map.ipv6 %}
          {%   set ip_address = vlan_map.ipv6[vlan_id] %}
          ipv6:
            address: {{ ip_address.address | ansible.utils.ipaddr('address') }}
            {% if ip_address.custom_fields.participant_mac_address %}
            mac_address: "{{ ip_address.custom_fields.participant_mac_address }}"
            {% endif %}
          {% endif %}
        {% endfor %}
      {%   endif %}
      {% endfor %}
{% endfor %}
