---
netbox_api_endpoint: {{ netbox_api_endpoint }}
netbox_api_key: {{ netbox_api_key }}
peeringdb_api_key: {{ peeringdb_api_key }}
ipv4_peering_prefix: 206.197.187.0/24
ipv6_peering_prefix: 2001:504:30::/64
